log/workspace_sync.log

# Binários

!grompt/
.venv/

# Build outputs

dist/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Node.js
.next/
out/
build/*.js
build/*.css
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
!build/index.html
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Temporary files
tmp/
temp/

# Environment variables
.env
.env.local
*_linux_amd64
*_linux_amd64*
bkp/
grompt
docs/prompt/
support/docs/site/
internal/services/server/build/*
!internal/services/server/build/style.css
